.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-dialog {
  width: 500px;
}

.custom-modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.custom-modal-header,
.custom-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disable-button{
  background-color: grey;
}
