
/* Buttons */
button {
  background-color: #add8e6;
  color:black;
  border: none;
  padding: 10px 16px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color:black;
  color:white;
}

/* Form container */
div[ngIf] {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #a9a9a9;
  border:0.5px solid rgb(134, 133, 133);
  margin: 20px auto;
  max-width: 650px;
}

.quick-actions{
  background-color: #f9f9f9;
  border-radius: 10px;
  border:0.5px solid rgb(189, 189, 189);
  padding:10px;
  margin:30px;
}
.button-group{
  padding:10px;
  display:flex;
  justify-content: space-around;
}
#btn{
padding:10px;
width:20%;
font-size: 15px;
border-radius: 20px;
border:0.5px solid rgb(167, 166, 166);
padding-top: 15px;
padding-bottom: 15px;
}
i{
  padding-bottom: 5px;
}
 .active {
  background-color: black;
  color: white;
}







