label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
.container{
  background-color: white;
  border:1px solid black;
  width:400px;
  margin:auto;
  padding:30px;
  border-radius:20px;
  margin-bottom: 20px;
  margin-top: 20px;
 
 
}
/* Inputs */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="tel"],
select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
/* Radio buttons */
input[type="radio"] {
  margin-right: 5px;
}
.slots{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
 button{
  border:0.5px solid black;
  width:150px;
  padding:10px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}
.selected {
 background-color: #007bff;
  color: white;
}
button:hover {
   background-color: #007bff;
  color: white;
}
.error{
  color:red;
}
.modal{
  width:600px;
  padding:20px;
  border-radius:4px;
  height:max-content;
  text-align: center;
  margin-left: 400px;
 
}
 
 .modal-dialog {
  max-width: 400px;
  width: 100%;
}
 
 .modal-content {
  min-height: 200px;
  padding: 2rem 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 24px rgba(0,0,0,0.2);
}
 
 
.btn-close {
  visibility: hidden;
  transition: visibility 0.3s ease;
  background-color: transparent !important;
  box-shadow: none !important;
  margin-left: 30px;
}
 
.modal-content:hover .btn-close {
  visibility: visible;
}